@import "tailwindcss";



:root {
  --black: #0a0a0a;
  --white: #f5f3ee;
  --cream: #ede9e0;
  --green: #1a5c3a;
  --green-light: #2d7a50;
  --green-pale: #e8f0eb;
  --accent: #e8b84b;
}

body {
  background: var(--white);
  color: var(--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


